<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Outrider > Arbitrage Analysis</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col col-8>
        <h3>Historical Opportunities</h3>
        <arbitrage-graph (onHourClicked)="selectHourlyCharts($event)"></arbitrage-graph>
      </ion-col>
      <ion-col col-4>
        <h3>Latest</h3>
        <arbitrage-data></arbitrage-data>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="hourlyChart">
      <ion-col col-8>
        <h3>Hourly Data for {{ hourToDisplay }}</h3>
        <arbitrage-hourly-graph (onOpportunityClicked)="selectSingleOpportunity($event)" [data]="hourlyChart"></arbitrage-hourly-graph>
      </ion-col>
      <ion-col col-4>
        <div *ngIf="singleOpportunity">
          <h3>Profitable Opportunity</h3>
          <opportunity-data [opportunity]="singleOpportunity"></opportunity-data>
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
