<ion-grid *ngIf="latest">
  <ion-row>
    <ion-col col-4>
      <h5>Time</h5>
      {{ latest.timestamp }}
    </ion-col>
    <ion-col col-4>
      <h5>Values</h5>
      <p><strong>Currencies:</strong> {{ latest.data.currencies.base }}/{{ latest.data.currencies.against }}</p>
      <p><strong>Spread:</strong> {{ latest.data.spread }}</p>
    </ion-col>
    <ion-col col-4>
      <h5>Profit</h5>
      <p><strong>$</strong> {{ latest.data.arbitrageCalculations.profitLoss }}</p>
      <p><strong>%</strong>  {{ latest.data.arbitrageCalculations.profitLossPercent }}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-grid *ngIf="latest">
      <ion-row>
        <ion-col col-6>
          <h5>Buy</h5>
          <p><strong>{{ latest.data.arbitrageCalculations.buy.exchange }}</strong></p>
          <p><strong>Base Price:</strong> {{ latest.data.arbitrageCalculations.buy.basePrice }}</p>
          <p><strong>Fees Calculated:</strong> {{ latest.data.arbitrageCalculations.buy.feeCalculated }}</p>
          <p><strong>Total:</strong> {{ latest.data.arbitrageCalculations.buy.totalPrice }}</p>
        </ion-col>
        <ion-col col-6>
          <h5>Sell</h5>
          <p><strong>{{ latest.data.arbitrageCalculations.sell.exchange }}</strong></p>
          <p><strong>Base Price:</strong> {{ latest.data.arbitrageCalculations.sell.basePrice }}</p>
          <p><strong>Fees Calculated:</strong> {{ latest.data.arbitrageCalculations.sell.feeCalculated }}</p>
          <p><strong>Total:</strong> {{ latest.data.arbitrageCalculations.sell.totalPrice }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
</ion-grid>
