<div style="display: block;" *ngIf="displayHourlyGraph && hourlyLineChartData.length > 0">
  <!-- <nvd3 [options]="options" [data]="data"></nvd3>-->
  <canvas baseChart height="100"
       [datasets]="hourlyLineChartData"
       [labels]="hourlyLineChartLabels"
       [options]="graphOptions.lineChartOptions"
       [colors]="graphOptions.lineChartColors"
       [legend]="graphOptions.lineChartLegend"
       [chartType]="graphOptions.lineChartType"
       (chartHover)="chartHovered($event)"
       (chartClick)="singleOpportunityClicked($event)">
    </canvas>
</div>
